<div>
    <h1>Please Login</h1>
    <form>
        <div class="form-group">
            <label for="Email">Email</label>
            <input type="email" class="form-control" id="email" required value="" id = "email">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" required value="" id = "password">
            <input type="submit" id ="submit">
    </form>
    <a href="/register">ir a register</a>
</div>
<script src="./js/login.js"></script>