
html(lang="en")
    head
        title Home Page
        link(rel='stylesheet' href='https://getbootstrap.com/docs/4.4/dist/css/bootstrap.min.css')
        link(rel='stylesheet' href='../../css/style.css')

    body
        header
            
            
        block content