<h1>Bienvenidos</h1>
<a href="/home">go back to home</a>
<div id="compresion"></div>

<div class="container justify-content-center">

    <div>
        <div id="chat-messages"></div>
    </div>

</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <input type="text" name="" id="chatBox">
        </div>


    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js
"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="../../socket.io/socket.io.js"></script>
<script src="../js/chat.js"></script>