<div>
    <form id="addProduct">
        <div class="form-group">
            <label for="title">Titulo</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Titulo">
            <label for="description">description</label>
            <input type="text" class="form-control" id="description" name="description" placeholder="description">
            <label for="code">codigo</label>
            <input type="number" class="form-control" id="code" name="code" placeholder="code">
            <label for="price">price</label>
            <input type="number" class="form-control" id="price" name="price" placeholder="price">
            <label for="image">image</label>
            <input type="text" class="form-control" id="image" name="image" placeholder="image">
            <label for="stock">stock</label>
            <input type="number" class="form-control" id="stock" name="stock" placeholder="stock">
            <button class="btn btn-primary" id="btnAdd">Agregar Producto</button>
        </div>
    </form>
</div>
<script src="../scripts/addProd.js"></script>
